/* ==UserStyle==
@name           minimal dark anilist
@version        1.0.3
@description    dark theme for anilist.co
@author         wlfy.
@namespace      gitlab.com/wolfiy/dotfiles
@homepageURL    https://gitlab.com/wolfiy/dotfiles/-/blob/master/minimal-arch/zzz_browser/websites/anilist/minimal-dark-anilist.css
@updateURL      https://gitlab.com/wolfiy/dotfiles/-/raw/master/minimal-arch/zzz_browser/websites/anilist/minimal-dark-anilist.css
==/UserStyle== */


@-moz-document domain("anilist.co") {
    /*
     * =================================================
     *                     COLORS
     * =================================================
    */
    :root {
        --light: 21, 21, 21;
        --dark: 00, 00, 00;
    }


    /*
     * =================================================
     *              PROFILE / SITEWIDE
     * =================================================
    */
    .site-theme-dark {
        --color-background: var(--dark) !important;
        --color-foreground: var(--light) !important;
        --color-foreground-grey: var(--light) !important;
        --color-foreground-blue: var(--dark) !important
    }



    /*
     * =================================================
     *                   HEADER
     * =================================================
    */
    .site-theme-dark .nav-unscoped.transparent {         /* transparent */
        background: rgba(00, 00, 00, 0.5) !important;
    }

    .site-theme-dark .nav-unscoped {                     /* opaque */
        background: #000000;
    }

    .primary-links {                                     /* profile card */
        background-color: #151515;
    }

    .secondary-link, .footer[data-v-0bb70ffa] {           /* profile card */
        background-color: #000000;
    }

    .footer[data-v-38edf8f8] {                           /* browse card */
        background-color: #000000;
    }


    /*
     * =================================================
     *                   FOOTER
     * =================================================
    */
    .footer[data-v-6f9ee47f] {
        background: #151515;
    }


    /*
     * =================================================
     *                   BROWSE
     * =================================================
    */
    .search[data-v-7a42bb24] {                           /* search input */
        background: #151515;
    }

    .search-wrap[data-v-458a983a], .select[data-v-0f4acdbb], .open-btn[data-v-a679b1ba] {
        background: #000000;
    }

    .options[data-v-0f4acdbb] {                          /* dropdown menus */
        background: #000000;
    }

    .option.selected[data-v-0f4acdbb], .option[data-v-0f4acdbb]:hover {
        background: #252525;
    }

    .dropdown[data-v-a679b1ba] {                         /* filters */
        background: #101010;
    }

    .active-region[data-v-94c49b6c] {
        background: #000000;
    }

    .handle[data-v-94c49b6c], .handle-1[data-v-94c49b6c] {
        background: #505050;
    }

    .tag-filtesr-wrap[data-v-a679b1ba] {
        border-top: none;
    }
}