/* ==UserStyle==
@name           minimal dark switch tube
@version        1.0
@description    dark theme for tube.switch.ch
@author         wlfy.
@namespace      gitlab.com/wolfiy/dotfiles
@homepageURL    https://gitlab.com/wolfiy/dotfiles/-/blob/master/minimal-arch/zzz_browser/websites/switch/minimal-dark-switch.css
@updateURL      https://gitlab.com/wolfiy/dotfiles/-/raw/master/minimal-arch/zzz_browser/websites/switch/minimal-dark-switch.css
==/UserStyle== */

@-moz-document domain("tube.switch.ch") {
    /*
     * =================================================
     *                     COLORS
     * =================================================
    */
    :root {
        --grey: #151515;
        --black: #000000;
        --lightest-text: #e6e6e6;
        --light-text: #b6b6b6;
        --dark-text: #a6a6a6;
    }


    /*
     * =================================================
     *                     HEADER
     * =================================================
    */
    #top {
        background: var(--black);
    }

    #top a {
        color: var(--light-text);
    }

    #top a:hover {
        color: var(--lightest-text)
    }

    a::before {
        /*todo*/
    }


    /*
     * =================================================
     *                     PLAYER
     * =================================================
    */
    div.player div.controls div.progress > div > div > div, div.player.metadata_loaded div.controls div.progress > div > div > div::after {
        background: var(--dark-text);
    }


    /*
     * =================================================
     *                     BODY
     * =================================================
    */
    body {                                              /* container */
        background: var(--black);
    }

    div.box {
        background: var(--grey);
    }

    h1 {                                                /* titles */
        color: var(--lightest-text);
    }

    hgroup.title h2 {
        color: var(--light-text);                       /* subtitles */
    }

    section p a, .legal li a, h2 a, div.sidebar nav a, form.inline button { /* accent color */
        color: var(--light-text);
        font-style: italic ;
        transition: 0.3s;
    }

    a {
        transition: 0.3s;
    }

    a:hover {
        color: #ffffff;
        text-decoration: none !important;
        transition: 0.3s;
    }
}